<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Warenkorb</title>
    <link rel="stylesheet" type="text/css" href="./spectre/spectre.min.css">
    <link rel="stylesheet" type="text/css" href="./spectre/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>

<body>
  <h1>SneakerStore BBZW</h1>
  <table class="table">
    <thead>
    <tr>
        <td>
            <h2>Warenkorb</h2>
            <table width="100%">
                <tr>
                    <td>
                        <button >CHF 0.00</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table width="100%">
                            <tr class="active">
                                <th>
                                    Produkt
                                </th>
                                <th>
                                    Einzelpreis
                                </th>
                                <th>
                                    Anzahl
                                </th>
                                <th>
                                    Total
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Testproduct
                                </td>
                                <td>
                                    CHF 1.30
                                </td>
                                <td>
                                    <button type="button">
                                        -
                                    </button>
                                    123
                                    <button type="button">
                                        +
                                    </button>
                                </td>
                                <td>
                                    CHF 159.9‬0
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <tr>
                    <td>
                        <button type="submit" href="/checkout">Checkout</button>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
  </table>
    <script src=".././assets/cart.js"></script>
</body>

</html>