<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakerstore</title>
    <link rel="stylesheet" type="text/css" href="./spectre/spectre.min.css">
    <link rel="stylesheet" type="text/css" href="./spectre/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>

<body>
    <h1>SneakerStore BBZW</h1>
  <table width="100%" height="100%">
    <tr>
        <td width="25%">
            &nbsp;
        </td>
        <td>
            <p>
                <table width="100%">
                    <tr>
                        <td colspan="3">
                        </td>
                        <td>
                            <button>CHF 0.00</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Vorname
                        </td>
                        <td>
                            <input type="text" id="firstName" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Nachname
                        </td>
                        <td>
                            <input type="text" id="lastname" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email-Adresse
                        </td>
                        <td>
                            <input type="email" id="firstName" required>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit">Einkauf abschliessen</button>
                        </td>
                    </tr>
                </table>
            </p>
        </td>
        <td width="25%">
            &nbsp;
        </td>

    </tr>
</table>
   
</body>

</html>