<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" type="text/css" href="./spectre/spectre.min.css">
    <link rel="stylesheet" type="text/css" href="./spectre/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>

<body>
  <h1>SneakerStore BBZW</h1>
  <button href="/cart">0.00 CHF</button>
  <div class="columns"></div>
    <script src=".././assets/detail.js"></script>
</body>

</html>