<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sneakers</title>
    <link rel="stylesheet" type="text/css" href="./spectre/spectre.min.css">
    <link rel="stylesheet" type="text/css" href="./spectre/spectre-icons.min.css">
    <link rel="stylesheet" type="text/css" href="./assets/style.css">
</head>

<body>
  <h1>SneakerStore</h1>
  <button>0.00CHF</button>
  <table width='500' cellpadding='5'>
      
  </table>
    <script src="./assets/home.js"></script>
</body>

</html>